<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="version" value="Version30" />
        <add key="source" value="" />
        <add key="target" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.diagnostics>
        <sources>
            <source name="FirebirdSql.Data.FirebirdClient">
                <listeners>
                    <clear />
                    <!--<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>-->
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <system.data>
        <DbProviderFactories>
            <remove invariant="FirebirdSql.Data.FirebirdClient" />
            <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
        </DbProviderFactories>
    </system.data>
</configuration>
